*{
    padding: 0;
    margin: 0;
}
header {
    background-color: black;
    height:80px;
    width:100%;
    position:relative;
}
main {
    background-color: black;
}
.new h2{
    font-size: 60px;
    margin-bottom: 30px;
    color:white;
}
.shop h2{
    font-size: 40px;
    margin-bottom: 30px;
    color:white;
}
.shops{
    display: flex;
}
.shops img{
    width: 60%;
}
.info{
    width: 50%;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shop p{
    font-size: 20px;
    margin-bottom: 30px;
    color:white;
    margin:10px
}
.product {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
}
h2,p,h6{
    text-align: center;
}
