*{
    padding:0;
    margin:0;
}
header{
    background-color: black;
    height: 180px;
    width: 100%;
}
h1{
    color:white;
    font-size: 40px;
}
header h1{
    position:absolute;
    right: 12.5vw;
    top:0vw;
    line-height: 180px;
}
.ww1 {
    background-color: rgb(250, 215, 172);
    height:580px;
    width:100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h6 {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}